/* 引入字体 */
@font-face {
    font-family: "FZYaSong-GBK";
    src: url(../source/font_family/FZXYSK.TTF);
}

/* a标签 */
a {
    text-decoration: none;
    cursor: pointer;
}

/* 导航栏 */
#top-menu {
    height: 50px;
    width: 100%;
    background-color: #515151;
}

/* 导航栏中a标签 */
#top-menu a {
    display: block;
    text-decoration: none;
    float: left;
    color: #ffffff;
}

/* 鼠标悬停导航栏时样式 */
#top-menu a:hover {
    color: #FFD04B;
    border-bottom: 3px solid;
}

/* 导航栏中的文字 */
.nav {
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
}

/* 主体 */
#section {
    margin: 20px 10% 0 10%;
}


/* 黑底白字横条 */
.title-container {
    margin-bottom: 20px;
    height: 17px;
    width: 100%;
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: #000000;
}

/* 黑底白字横条 */
.title {
    padding-left: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

/* 回到顶端按钮 */
#backTop {
    position: fixed;
    left: 1320px;
    top: 630px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #F7F7F7;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 1px 1px #E5E5E5;
}

/* 三角形 */
#triangle {
    position: relative;
    left: 12px;
    bottom: 4px;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #000000;
}

.image-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

/* 左浮动布局 */
.float{
    float: left;
}
/* 清除左浮动 */
.clear{
    clear: both;
}